/* ----------------------------------------------------------------- */
/* --------------------------HEADER-------------------------------- */
/* ----------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: space-between;
    align-items: center;
}

.logo__header {
    display: flex;
}

.logo__header .imagen__header {
    height: 15rem;
    /* margin: 1.5rem; */
}

.titulo__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 1.5rem;
    margin: 1.5rem; */
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: xx-large;
}

.titulo__header h1 {
    font-size: 35px;
    color: black;
}

.titulo__header h2 {
    font-size: 30px;
    color: black;
}

a.nav-link.active {
    margin: 1.4rem;
    color: black;
    font-size: 1.8rem;
    font-family: 'Ubuntu Condensed', sans-serif;

}

a.nav-link {
    margin: 1.4rem;
    padding: 1rem;
    color: black;
    font-size: 1.8rem;
    font-family: 'Ubuntu Condensed', sans-serif
}

/* ----------------------------------------------------------------- */
/* --------------------------FOOTER-------------------------------- */
/* ----------------------------------------------------------------- */


.contenedor__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.dondeestamos__footer {
    text-align: center;
}

.dondeestamos__footer .donde__estamos {
    font-size: 2rem;
    font-family: 'Ubuntu Condensed', sans-serif;

}

.dondeestamos__footer p {
    font-size: 1.6rem;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.dondeestamos__footer .donde__seguirnos {
    font-size: 2rem;
    font-family: 'Ubuntu Condensed', sans-serif;
}



.dondeestamos__footer img {
    width: 2.4rem;
    margin: 1rem;
}


.contactanos__footer {
    display: inline;
    text-align: center;
}


.contactanos__footer .contactanos__atraves {
    font-size: 2rem;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.contactanos__footer img {
    width: 3rem;
}

.logo__footer img {
    width: 15rem;
}

.copyright__footer p {
    font-size: 1.4rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
    margin: 1rem;
}

/* ----------------------------------------------------------------- */
/* --------------------------MAIN INDEX------------------------------*/
/* ----------------------------------------------------------------- */

/* .carrusel__index {
    padding: 1rem;
    margin: 1rem;
} */

.control__imagen {
    height: 550px;
}

.control__imagen img {
    height: 550px;
    object-fit: cover;
}


.bienvenidos__main h3 {
    font-size: 2rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    margin: 1rem;
    padding: 1rem;
    color: black;

}

.bienvenidos__main p {
    font-size: 1.8rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    margin: 1rem;
    padding: 1.5rem;
    text-align: auto;
}


/**********************************************************************/
/*                                                                    */
/*                            main servicios                          */
/*                                                                    */
/**********************************************************************/

.grid {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content min-content;
    grid-template-areas:
        "img1 img2 img3"
        "title1 title2 title3"
        "img4 img5 img6"
        "title4 title5 title6"
        "img7 img8 img9"
        "title7 title8 title9"
        "img10 img11 img12"
        "title10 title11 title12";
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-items: center;
}

.detalles__servicios .main__servicios {
    font-size: 2.5rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    margin: 1rem;
    padding: 1rem;
}

.detalles__servicios p{
    font-size: 1.8rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    margin: 1rem;
    padding: 1rem;
}


.grid{
    margin: 1rem;
    padding: 1rem;
}
.grid .grid__detalle {
    grid-area: detalle;
    font-size: 36px;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
}

.grid .grid__title1 {
    grid-area: title1;
    font-size: x-large;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.grid .grid__title2 {
    grid-area: title2;
    font-size: x-large;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.grid .grid__title3 {
    grid-area: title3;
    font-size: x-large;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.grid .grid__title4 {
    grid-area: title4;
    font-size: x-large;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.grid .grid__title5 {
    grid-area: title5;
    font-size: x-large;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.grid .grid__title6 {
    grid-area: title6;
    font-size: x-large;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.grid .grid__title7 {
    grid-area: title7;
    font-size: x-large;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.grid .grid__title8 {
    grid-area: title8;
    font-size: x-large;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.grid .grid__title9 {
    grid-area: title9;
    font-size: x-large;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.grid .grid__title10 {
    grid-area: title10;
    font-size: x-large;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.grid .grid__title11 {
    grid-area: title11;
    font-size: x-large;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.grid .grid__title12 {
    grid-area: title12;
    font-size: x-large;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.grid .grid__img1 {
    grid-area: img1;
    width: 100px;
    height: 100px;
    border-radius: 1rem;
}

.grid .grid__img2 {
    grid-area: img2;
    width: 100px;
    height: 100px;
    border-radius: 1rem;
}

.grid .grid__img3 {
    grid-area: img3;
    width: 100px;
    height: 100px;
    border-radius: 1rem;
}

.grid .grid__img4 {
    grid-area: img4;
    width: 100px;
    height: 100px;
    border-radius: 1rem;
}

.grid .grid__img5 {
    grid-area: img5;
    width: 100px;
    height: 100px;
    border-radius: 1rem;
}

.grid .grid__img6 {
    grid-area: img6;
    width: 100px;
    height: 100px;
    border-radius: 1rem;
}

.grid .grid__img7 {
    grid-area: img7;
    width: 100px;
    height: 100px;
    border-radius: 1rem;
}

.grid .grid__img8 {
    grid-area: img8;
    width: 100px;
    height: 100px;
    border-radius: 1rem;
}

.grid .grid__img9 {
    grid-area: img9;
    width: 100px;
    height: 100px;
    border-radius: 1rem;
}

.grid .grid__img10 {
    grid-area: img10;
    width: 100px;
    height: 100px;
    border-radius: 1rem;
}

.grid .grid__img11 {
    grid-area: img11;
    width: 100px;
    height: 100px;
    border-radius: 1rem;
}

.grid .grid__img12 {
    grid-area: img12;
    width: 100px;
    height: 100px;
    border-radius: 1rem;
}

/**********************************************************************/
/*                                                                    */
/*                            main alojamiento                        */
/*                                                                    */
/**********************************************************************/





/**********************************************************************/
/*                                                                    */
/*                            mobile                                  */
/*                                                                    */
/**********************************************************************/

@media screen and (max-width: 426px) {
    body {
        background-color: brown;
    }

    /* -----------------HEADER---------------- */

    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .logo__header .imagen__header {
        width: 8.7rem;
        height: 8.7rem;
    }

    .titulo__header h1 {
        font-size: 1.8rem;
    }

    .titulo__header h2 {
        font-size: 0.8rem;
    }

    a.nav-link.active {
        /* margin: -.5rem; */
        color: black;
        font-size: 0.9rem;
        font-family: 'Ubuntu Condensed', sans-serif;
    }

    a.nav-link {
        color: black;
        font-size: 0.9rem;
        font-family: 'Ubuntu Condensed', sans-serif
    }


    /* ------------MAIN------------------- */

    .control__imagen {
        height: 275px;
    }

    .control__imagen img {
        height: 275px;
        object-fit: cover;
    }

    .bienvenidos__main h3 {
        font-size: 1.8rem;
        font-family: 'Ubuntu Condensed', sans-serif;
        color: black;

    }

    .bienvenidos__main p {
        font-size: 1.1rem;
        font-family: 'Ubuntu Condensed', sans-serif;
        text-align: auto;
        color: black;
    }



/**********************************************************************/
/*                                                                    */
/*                            main servicios                        */
/*                                                                    */
/**********************************************************************/

.detalles__servicios .main__servicios {
    font-size: 1.8rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    margin: 1rem;
    padding: 1rem;
    color: black;
}

.detalles__servicios p{
    font-size: 1.1rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    margin: 1rem;
    padding: 1rem;
    color: black;
}

.grid .grid__detalle {
    grid-area: detalle;
    font-size: 36px;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
}

.grid .grid__title1 {
    grid-area: title1;
    font-size: 1.1rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
    color: black;

}

.grid .grid__title2 {
    grid-area: title2;
    font-size: 1.1rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: black;
}

.grid .grid__title3 {
    grid-area: title3;
    font-size: 1.1rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: black;
}

.grid .grid__title4 {
    grid-area: title4;
    font-size: 1.1rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: black;
}

.grid .grid__title5 {
    grid-area: title5;
    font-size: 1.1rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: black;
}
.grid .grid__title6 {
    grid-area: title6;
    font-size: 1.1rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: black;
}

.grid .grid__title7 {
    grid-area: title7;
    font-size: 1.1rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: black;
}
.grid .grid__title8 {
    grid-area: title8;
    font-size: 1.1rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: black;
}

.grid .grid__title9 {
    grid-area: title9;
    font-size: 1.1rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: black;
}
.grid .grid__title10 {
    grid-area: title10;
    font-size: 1.1rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: black;
}
.grid .grid__title11 {
    grid-area: title11;
    font-size: 1.1rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: black;
}

.grid .grid__title12 {
    grid-area: title12;
    font-size: 1.1rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: black;
}

.grid .grid__img1 {
    grid-area: img1;
    width: 80px;
    height: 80px;
    border-radius: 1rem;
}

.grid .grid__img2 {
    grid-area: img2;
    width: 70px;
    height: 70px;
    border-radius: 1rem;
}

.grid .grid__img3 {
    grid-area: img3;
    width: 70px;
    height: 70px;
    border-radius: 1rem;
}

.grid .grid__img4 {
    grid-area: img4;
    width: 70px;
    height: 70px;
    border-radius: 1rem;
}

.grid .grid__img5 {
    grid-area: img5;
    width: 70px;
    height: 70px;
    border-radius: 1rem;
}

.grid .grid__img6 {
    grid-area: img6;
    width: 70px;
    height: 70px;
    border-radius: 1rem;
}

.grid .grid__img7 {
    grid-area: img7;
    width: 70px;
    height: 70px;
    border-radius: 1rem;
}

.grid .grid__img8 {
    grid-area: img8;
    width: 70px;
    height: 70px;
    border-radius: 1rem;
}

.grid .grid__img9 {
    grid-area: img9;
    width: 70px;
    height: 70px;
    border-radius: 1rem;
}

.grid .grid__img10 {
    grid-area: img10;
    width: 70px;
    height: 70px;
    border-radius: 1rem;
}

.grid .grid__img11 {
    grid-area: img11;
    width: 70px;
    height: 70px;
    border-radius: 1rem;
}

.grid .grid__img12 {
    grid-area: img12;
    width: 70px;
    height: 70px;
    border-radius: 1rem;
}


    /* -------------FOOTER---------------- */

    .contenedor__footer {
        display: flex;
        flex-direction: column;
    }

    .dondeestamos__footer .donde__estamos {
        font-size: 1.8rem;
        font-family: 'Ubuntu Condensed', sans-serif;
        color: black;
    }

    .dondeestamos__footer p {
        font-size: 1.1rem;
        font-family: 'Ubuntu Condensed', sans-serif;
        color: black;
    }

    .dondeestamos__footer .donde__seguirnos {
        font-size: 1.8rem;
        font-family: 'Ubuntu Condensed', sans-serif;
        margin: 1rem;
        color: black;
    }



    .dondeestamos__footer img {
        width: 1.8rem;
        margin: 1rem;
    }


    .contactanos__footer {
        display: inline;
        text-align: center;
    }


    .contactanos__footer .contactanos__atraves {
        font-size: 1.8rem;
        font-family: 'Ubuntu Condensed', sans-serif;
        margin: 1rem;
        color: black;
    }

    .contactanos__footer img {
        width: 2.5rem;
    }


    .logo__footer img {
        width: 9rem;
        margin: 1rem;

    }

    .copyright__footer p {
        font-size: 1rem;
        font-family: 'Ubuntu Condensed', sans-serif;
        margin: 1rem;
        text-align: center;
        color: black;
    }




    /* body {
        background-color: green;
    }

    .logo__header.nav__index{
        display: flex;
        flex-direction: row;
    }
    
    .logo__header img {
        width: 9rem;
        height: 9rem;
        margin-left: -10;
    }

    .titulo__header h1 {
        font-size: 2rem;
        color: black;
        margin-left: -10;
    }

    .titulo__header h2 {
        font-size: 0.95rem;
        color: black;
        margin-left: -10;
    }

    a.nav-link.active {
        margin: -.5rem;
        color: black;
        font-size: 1rem;
        font-family: 'Ubuntu Condensed', sans-serif;
    }

    a.nav-link {
        color: black;
        font-size: 1rem;
        font-family: 'Ubuntu Condensed', sans-serif
    } */

}