/* ----------------------------------------------------------------- */
/* --------------------------HEADER-------------------------------- */
/* ----------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: space-between;
    align-items: center;
}

.logo__header {
    display: flex;
}

.logo__header img {
    height: 15rem;
    margin: 1.5rem;
}

.titulo__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 1.5rem;
    margin: 1.5rem; */
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: xx-large;
}

.titulo__header h1 {
    font-size: 38px;
    color: black;
}

.titulo__header h2 {
    font-size: 35px;
    color: black;
}

a.nav-link.active {
    margin: 1.4rem;
    color: black;
    font-size: 1.8rem;
    font-family: 'Ubuntu Condensed', sans-serif;

}

a.nav-link {
    margin: 1.4rem;
    padding: 1rem;
    color: black;
    font-size: 1.8rem;
    font-family: 'Ubuntu Condensed', sans-serif
}

/* ----------------------------------------------------------------- */
/* --------------------------FOOTER-------------------------------- */
/* ----------------------------------------------------------------- */


.contenedor__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.dondeestamos__footer {
    text-align: center;
}

.dondeestamos__footer .donde__estamos {
    font-size: 2rem;
    font-family: 'Ubuntu Condensed', sans-serif;

}

.dondeestamos__footer p {
    font-size: 1.6rem;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.dondeestamos__footer .donde__seguirnos {
    font-size: 2rem;
    font-family: 'Ubuntu Condensed', sans-serif;
}



.dondeestamos__footer img {
    width: 2.4rem;
    margin: 1rem;
}


.contactanos__footer {
    display: inline;
    text-align: center;
}


.contactanos__footer .contactanos__atraves {
    font-size: 2rem;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.contactanos__footer img {
    width: 3rem;
}

.logo__footer img {
    width: 15rem;
}

.copyright__footer p {
    font-size: 1.4rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
    margin: 1rem;
}

/* ----------------------------------------------------------------- */
/* --------------------------MAIN INDEX------------------------------*/
/* ----------------------------------------------------------------- */

/* .carrusel__index {
    padding: 1rem;
    margin: 1rem;
} */

.control__imagen {
    height: 550px;
}

.control__imagen img {
    height: 550px;
    object-fit: cover;
}


.bienvenidos__main h3 {
    font-size: 2rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    margin: 1rem;
    padding: 1rem;
    color: black;

}

.bienvenidos__main p {
    font-size: 1.8rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    margin: 1rem;
    padding: 1.5rem;
    text-align: auto;
}

/**********************************************************************/
/*                                                                    */
/*                            main alojamiento                        */
/*                                                                    */
/**********************************************************************/


.grid__container .grid__item img{
    width: 300px;
    /* height: 300px; */
}

/* .grid-gallery {
    display: grid;
    grid-row:   3rem 3rem 3rem 3rem;
    gap: 1rem;
    grid-auto-flow: row dense;
}


.grid-gallery__item:nth-child(11n+1) {
    grid-column: span 1;
}

.grid-gallery__item:nth-child(11n+4) {
    grid-column: span 2;
    grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+6) {
    grid-column: span 3;
    grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+7) {
    grid-column: span 1;
    grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+8) {
    grid-column: span 2;
    grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+9) {
    grid-row: span 3;
}

.grid-gallery__image {
    width: 75%;
    height: 75%;
    object-fit: cover;
}
 */


/**********************************************************************/
/*                                                                    */
/*                            mobile                                  */
/*                                                                    */
/**********************************************************************/

@media screen and (max-width: 426px) {
    body {
        background-color: brown;
    }

    /* -----------------HEADER---------------- */

    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .logo__header img {
        width: 8.7rem;
        height: 8.7rem;
    }

    .titulo__header h1 {
        font-size: 1.8rem;
    }

    .titulo__header h2 {
        font-size: 0.8rem;
    }

    a.nav-link.active {
        /* margin: -.5rem; */
        color: black;
        font-size: 0.9rem;
        font-family: 'Ubuntu Condensed', sans-serif;
    }

    a.nav-link {
        color: black;
        font-size: 0.9rem;
        font-family: 'Ubuntu Condensed', sans-serif
    }


    /* ------------MAIN------------------- */

    .control__imagen {
        height: 275px;
    }

    .control__imagen img {
        height: 275px;
        object-fit: cover;
    }

    .bienvenidos__main h3 {
        font-size: 1.8rem;
        font-family: 'Ubuntu Condensed', sans-serif;
        color: black;

    }

    .bienvenidos__main p {
        font-size: 1.1rem;
        font-family: 'Ubuntu Condensed', sans-serif;
        text-align: auto;
        color: black;
    }

    /* -------------FOOTER---------------- */

    .contenedor__footer {
        display: flex;
        flex-direction: column;
    }

    .dondeestamos__footer .donde__estamos {
        font-size: 1.8rem;
        font-family: 'Ubuntu Condensed', sans-serif;
        color: black;
    }

    .dondeestamos__footer p {
        font-size: 1.1rem;
        font-family: 'Ubuntu Condensed', sans-serif;
        color: black;
    }

    .dondeestamos__footer .donde__seguirnos {
        font-size: 1.8rem;
        font-family: 'Ubuntu Condensed', sans-serif;
        margin: 1rem;
        color: black;
    }



    .dondeestamos__footer img {
        width: 1.8rem;
        margin: 1rem;
    }


    .contactanos__footer {
        display: inline;
        text-align: center;
    }


    .contactanos__footer .contactanos__atraves {
        font-size: 1.8rem;
        font-family: 'Ubuntu Condensed', sans-serif;
        margin: 1rem;
        color: black;
    }

    .contactanos__footer img {
        width: 2.5rem;
    }


    .logo__footer img {
        width: 9rem;
        margin: 1rem;

    }

    .copyright__footer p {
        font-size: 1rem;
        font-family: 'Ubuntu Condensed', sans-serif;
        margin: 1rem;
        text-align: center;
        color: black;
    }




    /* body {
        background-color: green;
    }

    .logo__header.nav__index{
        display: flex;
        flex-direction: row;
    }
    
    .logo__header img {
        width: 9rem;
        height: 9rem;
        margin-left: -10;
    }

    .titulo__header h1 {
        font-size: 2rem;
        color: black;
        margin-left: -10;
    }

    .titulo__header h2 {
        font-size: 0.95rem;
        color: black;
        margin-left: -10;
    }

    a.nav-link.active {
        margin: -.5rem;
        color: black;
        font-size: 1rem;
        font-family: 'Ubuntu Condensed', sans-serif;
    }

    a.nav-link {
        color: black;
        font-size: 1rem;
        font-family: 'Ubuntu Condensed', sans-serif
    } */

}